In [37]:
import pandas as pd
import numpy as np

In [5]:
df = pd.DataFrame({
    'A': [1, 4, 7],
    'B': [2, 5, 8],
    'C': [3, 6, 9]

SyntaxError: incomplete input (2555500008.py, line 4)

In [6]:
# Creating the DataFrame
df = pd.DataFrame({
    'A': [1, 4, 7],
    'B': [2, 5, 8],
    'C': [3, 6, 9]
})

In [7]:
print(df)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [8]:
# Using `iloc[]`
print(df.iloc[0][0])

1

C:\Users\user\AppData\Local\Temp\ipykernel_3660\160383345.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(df.iloc[0][0])

In [10]:
# Using `iloc[]`
print(df.iloc[0])

A    1
B    2
C    3
Name: 0, dtype: int64

In [12]:
print(df.iloc[2])

A    7
B    8
C    9
Name: 2, dtype: int64

In [13]:
print(df.loc[2])

A    7
B    8
C    9
Name: 2, dtype: int64

In [14]:
# Using `loc[]`
print(df.loc[0]['A'])

1

In [15]:
df = pd.DataFrame({"A":[1,4,7], "B":[2,5,8], "C":[3,6,9]})
print(df)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [16]:
print(df.iloc[0])

A    1
B    2
C    3
Name: 0, dtype: int64

In [17]:
print(df.iloc[0][0])

1

C:\Users\user\AppData\Local\Temp\ipykernel_3660\3789045009.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(df.iloc[0][0])

In [18]:
print(df.loc[0]['A'])

1

In [19]:
df = pd.DataFrame({"A":[1,4,7], "B":[2,5,8], "C":[3,6,9]})
print(df)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [20]:
print(df.loc[0]['A'])

1

In [25]:
print(df.loc[2]['C'])

9

In [26]:
print(df.at[0,'A'])

1

In [27]:
print(df.iat[0,0])

1

In [28]:
# Use `iloc[]` to select row `0`
print(df.iloc[0])

A    1
B    2
C    3
Name: 0, dtype: int64

In [29]:

# Use `loc[]` to select column `'A'`
print(df.loc[:,'A'])

0    1
1    4
2    7
Name: A, dtype: int64

In [30]:
df = pd.DataFrame({"A":[1,4,7], "B":[2,5,8], "C":[3,6,9]})
print(df)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [31]:
# Print out your DataFrame `df` to check it out
print(df)

# Set 'C' as the index of your DataFrame
df.set_index('C')

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

   A  B
C
3  1  2
6  4  5
9  7  8

In [32]:
# Print out your DataFrame `df` to check it out
print(df)

# Set 'C' as the index of your DataFrame
df.set_index('E')

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

KeyError: "None of ['E'] are in the columns"

In [33]:
# Print out your DataFrame `df` to check it out
print(df)

# Set 'C' as the index of your DataFrame
df.set_index('B')

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

   A  C
B
2  1  3
5  4  6
8  7  9

In [34]:
df.head

<bound method NDFrame.head of    A  B  C
0  1  2  3
1  4  5  6
2  7  8  9>

In [35]:
df = pd.DataFrame(data=np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]), index= [2, 'A', 4], columns=[48, 49, 50])

# Pass `2` to `loc`
print(df.loc[2])

NameError: name 'np' is not defined

In [36]:
df = pd.DataFrame(data=np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]), index= [2, 'A', 4], columns=[48, 49, 50])

NameError: name 'np' is not defined

In [38]:
df = pd.DataFrame(data=np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]), index= [2, 'A', 4], columns=[48, 49, 50])

# Pass `2` to `loc`
print(df.loc[2])

# Pass `2` to `iloc`
print(df.iloc[2])

48    1
49    2
50    3
Name: 2, dtype: int32
48    7
49    8
50    9
Name: 4, dtype: int32

In [39]:
df = pd.DataFrame(data=np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]), index= [2, 'A', 4], columns=[48, 49, 50])

In [40]:


# Pass `2` to `loc`
print(df.loc[2])

48    1
49    2
50    3
Name: 2, dtype: int32

In [41]:

# Pass `2` to `iloc`
print(df.iloc[2])

48    7
49    8
50    9
Name: 4, dtype: int32

In [42]:
df = pd.DataFrame(data=np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]), index= [2.5, 12.6, 4.8], columns=[48, 49, 50])

# This will make an index labeled `2` and add the new values
df.loc[2] = [11, 12, 13]
print(df)

      48  49  50
2.5    1   2   3
12.6   4   5   6
4.8    7   8   9
2.0   11  12  13

In [47]:
df = pd.DataFrame(data=np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]), columns=['A', 'B', 'C'])

# Use `.index`
df['D'] = df.index

# Print `df`
print(df)

   A  B  C  D
0  1  2  3  0
1  4  5  6  1
2  7  8  9  2

In [48]:
# Study the DataFrame `df`
print(df)

# Append a column to `df`
df.loc[:, 4] = pd.Series(['5', '6', '7'], index=df.index)

# Print out `df` again to see the changes
print(df)

   A  B  C  D
0  1  2  3  0
1  4  5  6  1
2  7  8  9  2
   A  B  C  D  4
0  1  2  3  0  5
1  4  5  6  1  6
2  7  8  9  2  7

In [46]:
# Study the DataFrame `df`
print(df)

# Append a column to `df`
df.loc[:, 4] = pd.Series(['5', '6', '7'], index=df.index)

   A  B  C  D  4
0  1  2  3  0  5
1  4  5  6  1  6
2  7  8  9  2  7

In [54]:
# Study the DataFrame `df`
print(df)

# Append a column to `df`
df.loc[:, 7] = pd.Series(['10', '8', '44'], index=df.index)

   A  B  C  D  4  5  6  10
0  1  2  3  0  5  1  1  10
1  4  5  6  1  6  7  7   8
2  7  8  9  2  7  6  6  44

In [55]:
# Study the DataFrame `df`
print(df)

# Append a column to `df`
df.loc[:, 11] = pd.Series(['18', '48', '48'], index=df.index)

   A  B  C  D  4  5  6  10   7
0  1  2  3  0  5  1  1  10  10
1  4  5  6  1  6  7  7   8   8
2  7  8  9  2  7  6  6  44  44

In [57]:
# Study the DataFrame `df`
print(df)

# Append a column to `df`
df.loc[:, 21] = pd.Series(['45', '488', '148'], index=df.index)

   A  B  C  D  4  5  6  10   7  11
0  1  2  3  0  5  1  1  10  10  18
1  4  5  6  1  6  7  7   8   8  48
2  7  8  9  2  7  6  6  44  44  48

In [58]:
# Study the DataFrame `df`
print(df)

# Append a column to `df`
df.loc[:, 34] = pd.Series(['14', '67', '46'], index=df.index)

   A  B  C  D  4  5  6  10   7  11   21
0  1  2  3  0  5  1  1  10  10  18   45
1  4  5  6  1  6  7  7   8   8  48  488
2  7  8  9  2  7  6  6  44  44  48  148

In [59]:
# Check out the weird index of your dataframe
print(df)

# Use `reset_index()` to reset the values.
df_reset = df.reset_index(level=0, drop=True)

# Print `df_reset`
print(df_reset)

   A  B  C  D  4  5  6  10   7  11   21  34
0  1  2  3  0  5  1  1  10  10  18   45  14
1  4  5  6  1  6  7  7   8   8  48  488  67
2  7  8  9  2  7  6  6  44  44  48  148  46
   A  B  C  D  4  5  6  10   7  11   21  34
0  1  2  3  0  5  1  1  10  10  18   45  14
1  4  5  6  1  6  7  7   8   8  48  488  67
2  7  8  9  2  7  6  6  44  44  48  148  46

In [60]:
# Check out the weird index of your dataframe
print(df)

# Use `reset_index()` to reset the values.
df_reset = df.reset_index(level=0, drop=True)

   A  B  C  D  4  5  6  10   7  11   21  34
0  1  2  3  0  5  1  1  10  10  18   45  14
1  4  5  6  1  6  7  7   8   8  48  488  67
2  7  8  9  2  7  6  6  44  44  48  148  46

In [61]:

# Print `df_reset`
print(df_reset)

   A  B  C  D  4  5  6  10   7  11   21  34
0  1  2  3  0  5  1  1  10  10  18   45  14
1  4  5  6  1  6  7  7   8   8  48  488  67
2  7  8  9  2  7  6  6  44  44  48  148  46